body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
    font-weight: bold;
  }
  
  #add-form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    
  }
  
  #add-form input, #add-form button {
    margin: 0 5px;
    padding: 8px;
  }
  
  #timetable-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .task {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .task p {
    margin: 5px 0;
  }
  
  .task form {
    display: flex;
    justify-content: space-between;
  }

  .btn-primary {
    background-color: #ff9d00; /* Primary color */
    color: #fff; /* Text color */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  
  .btn-primary:hover {
    background-color: #ff9d00;; /* Darker shade for hover */
  }
  
  .btn-secondary {
    background-color: #424eef; /* Secondary color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  
  .btn-secondary:hover {
    background-color: #424eef; /* Darker shade for hover */
  }
  
  @media (max-width: 600px) {
    #timetable-list {
        width: 100%; /* Full width on smaller screens */
    }
    
    .task {
        width: 90%; /* Adjusts width for mobile view */
    }
  }

  #scheduled12:hover{
    background-color: #424eef;
    color: #fff;
  }
