body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  #add-form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  #add-form input, #add-form button {
    margin: 0 5px;
    padding: 8px;
  }
  
  #timetable-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .task {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .task p {
    margin: 5px 0;
  }
  
  .task form {
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 600px) {
    #timetable-list {
        width: 100%; /* Full width on smaller screens */
    }
    
    .task {
        width: 90%; /* Adjusts width for mobile view */
    }
  }